.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: #f9f9f9;
  text-align: center;
  font-size: 1.3rem;
  color: #222;
  font-weight: 600;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    font-size: 1.6rem;
  }
}

@media (min-width: 960px) {
  .container {
    font-size: 2rem;
  }
}
